div.blog {

}

div.blog div.article_row {
	border: 1px solid #CEA146;
	padding: 15px;
	margin: 0 0 10px 0;
}

div#page {
	border: 1px solid #CEA146;
	padding: 15px;
	margin: 0 0 10px 0;
}

div.weblinks,
div#com_machform,
div#component-contact {
	border: 1px solid #CEA146;
	padding: 15px;
}

div#com_picman {
	border: 1px solid #CEA146;
	padding: 15px;
}

td.contentheading {
	font-size: 1.5em; color: #EDB54D;
	padding: 0 0 20px 0;
}

img.caption {
	border: 1px solid #CEA146;
}

div#component ul li {
	list-style: disc;
	margin: 0 0 0 35px;	
}

div#component table.weblinks {
	margin: 25px 0 0 0;	
}