
body {
	margin: 0; padding: 0px 0 0 0;
	background: #0f0f0f;
}

html { overflow: scroll; }

a, div, img { margin: 0px; padding: 0px; }
ul, li	{ margin: 0; padding: 0; list-style: none;   }
div, h   { border: 0px none; margin: 0px; padding: 0px; }

a
{
  outline: none;
}

h1 { }
h2 { padding: 0 0 10px 0; margin: 0; }
h3 { padding: 0; margin: 0; }
h4 { padding: 0; margin: 0; }

img { border: 0 none; }

.hide {
	height: 0; width: 0;
	overflow: hidden;
	position: absolute;  /* for the benefit of IE5 Mac */
}

.clear    { clear: both; }
.clear hr { display: none; }

.none			{ display: none; }

.readon {
	float: right;
	background-color: #F5F5F5;
	padding: 5px 10px 5px 10px;
	width: 100px;
	text-align: center;
}

/* -- form styles ----------------------------------- */

form {
	padding: 0;
	margin: 0;
}

form p  { }
form br { }
form fieldset { }
label         { }
input 		  { size: 10px; }
input.button  { }
textarea      { }

label    { }
form p   {  }
.inputbox   		{ margin: 2px; padding: 2px; border: 1px solid #E5E5E5; background-color: #F5F5F5; } /* jClass */
textarea 			{ border: 1px solid #CEDADB; background-color: #F4F4F4; }
input.button 		{ border: 1px solid #37607C; background-color: #F4F4F4; }
input.button:hover 	{ border: 1px solid #484848; color: #FF6F00;  }
fieldset.button    	{  }

div.radio { }
div.radio label { }
div.radio input { }

input:hover     { border-color: #EDB54D; }
input:focus     { border-color: #EDB54D; background-color: #F5F5F5; }
textarea:hover  { border-color: #EDB54D; }
textarea:focus  { border-color: #EDB54D; background-color: #F5F5F5; }



/* -- list styles ----------------------------------- */



/* -- general styles -------------------------------- */

/* -- min height ----------------------------------- */
