/* ---- container ------------------------------- */

#container {
	margin: 0 auto;   /* align for good browsers */
	text-align: left; /* for IE */
	width: 885px;
	padding: 0px;
}

#frame {
	border-left: 2px solid #CEA146;
	border-right: 2px solid #CEA146;
	border-bottom: 2px solid #CEA146;
	width: 885px;
	background: black;
}

/* ---- blocks ---------------------------------- */
div#header {
	width: 885px;
	padding: 139px 0 0 0;
	margin: 0;
	background: url(../images/header.jpg) no-repeat;
}

div#header div#menu {
	padding: 0 0 0 0px;
	height: 30px;
	border-bottom: 1px solid #CEA146;
	border-top: 1px solid #CEA146;
}

div#body {
	width: 885px;
	padding: 0;
}

div#frame div#left {
	width: 205px;
	padding: 0 0 300px 0;
	float: left;
	background: url(../images/left.jpg) no-repeat top left;
}

div#frame div#component {
	width: 640px;
	padding: 20px 20px 20px 10px;
	float: right;
}

div#footer {
	width: 250px;
	height: 25px;
	text-align: right;
	float: right;
	margin: 10px 0 0 0;
}

/*-------------------------------------------------- */
/* -- menu styles ---------------------------------- */
/* ------------------------------------------------- */

#menu div.moduletable_menu {
	margin: 0 0 0 225px;
}

#menu ul { margin: 0; padding: 0; list-style: none; }
#menu li { float: left; padding: 0; margin: 0px; }
#menu a  { display: block; padding: 5px 30px 5px 30px; margin: 0; font-size: 1.09em; }